.hero-area {
  position: relative;
  display: flex;

  width: 100%;
  min-height: 93vh;

  background: var(--light-background-1);

  .hero-left {
    position: relative;
    display: flex;

    align-items: flex-start;
    flex-flow: column;
    justify-content: center;
    width: 70%;
    height: fit-content;

    min-height: 93vh;

    background: var(--primary);


    .content-area {

      z-index: 1000;


      background-color: transparent;

      * {
        background-color: transparent;
      }

      form {
        background: transparent;

        * {
          background: transparent;
        }
      }

      button {
        background: white !important;
      }
    }

  }

  .hero-right {
    position: relative;
    width: 30%;
    height: 100%;
    min-height: 93vh;

    background: var(--light-background-1);
  }

  .illustration-area {
    position: absolute;
    top: 50%;

    left: 0;
    display: grid;

    align-items: center;

    justify-content: center;
    width: fit-content;

    height: fit-content;
    transform: translate(-50%, -50%);

    background: transparent;

    * {
      background: transparent;
    }

    .square-illustrations {
      display: grid;

      width: 28vw;
      height: 28vw;

      grid-template-rows: repeat(4, 7vw);
      grid-template-columns: repeat(4, 7vw);

      .comp {
        width: 100%;
        height: 100%;
        transition: 0.5s cubic-bezier(.88, .01, .31, 1.01);
      }

      .square {
        border-radius: 10px;

        &:nth-child(1) {
          background-color: rgba(white, 0.5);
          grid-area: 3/1/span 1/span 1;
        }

        &:nth-child(2) {
          animation: moveDown 2s cubic-bezier(.88, .01, .31, 1.01), rotate4 8s cubic-bezier(.88, .01, .31, 1.01) 2s infinite;
          background-color: rgba(white, 1);
          grid-area: 2/2/span 1/span 1;
        }

        &:nth-child(3) {
          animation: moveDown 2s cubic-bezier(.88, .01, .31, 1.01);
          background-color: rgba(white, 1);
          grid-area: 4/2/span 1/span 1;
        }

        &:nth-child(4) {
          animation: moveUp 2s cubic-bezier(.88, .01, .31, 1.01);
          background-color: rgba(#76D7F6, 1);
          grid-area: 1/3/span 1/span 1;
        }

        &:nth-child(5) {
          animation: moveUp 2s cubic-bezier(.88, .01, .31, 1.01), rotate2 8s cubic-bezier(.88, .01, .31, 1.01) 2s infinite;
          background-color: rgba(#76D7F6, 1);
          grid-area: 3/3/span 1/span 1;
        }

        &:nth-child(6) {
          background-color: rgba(#76D7F6, 0.5);
          grid-area: 2/4/span 1/span 1;
        }
      }

      .circle {
        border-radius: 50%;

        &:nth-child(7) {
          animation: moveDown 2s cubic-bezier(.88, .01, .31, 1.01), rotate1 8s cubic-bezier(.88, .01, .31, 1.01) 2s infinite;
          background-color: var(--light-subtitle);
          grid-area: 3/2/span 1/span 1;
        }

        &:nth-child(8) {
          animation: moveUp 2s cubic-bezier(.88, .01, .31, 1.01), rotate3 8s cubic-bezier(.88, .01, .31, 1.01) 2s infinite;
          background-color: var(--heading);
          grid-area: 2/3/span 1/span 1;
        }
      }

    }

    .hexagon-illustrations {
      display: grid;

      width: 27vw;
      height: 27vw;

      transform: rotate(225deg);

      grid-template-rows: repeat(3, 9vw);
      grid-template-columns: repeat(3, 9vw);

      gap: 0.25em;

      .hexagon {
        width: 100%;
        height: 100%;

        transition: all 0.1s cubic-bezier(.88, .01, .31, 1.01);

        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

        &:nth-child(1) {
          z-index: 8;
          background-color: #4F4F4F;
        }

        &:nth-child(2) {
          z-index: 7;
          animation: hex2 0.25s cubic-bezier(.88, .01, .31, 1.01);
          background-color: white;
        }

        &:nth-child(3) {
          z-index: 6;
          animation: hex3 0.5s cubic-bezier(.88, .01, .31, 1.01);
          background-color: rgba(white, 0.5);
        }

        &:nth-child(4) {
          z-index: 5;
          animation: hex4 0.25s cubic-bezier(.88, .01, .31, 1.01);
          background-color: #76D7F6;
        }

        &:nth-child(5) {
          z-index: 4;
          animation: hex5 1s cubic-bezier(.88, .01, .31, 1.01);
          background-color: #2F80ED;
        }

        &:nth-child(6) {
          z-index: 5;
          animation: hex6 0.75s cubic-bezier(.88, .01, .31, 1.01);
          opacity: 0.5;
          background-color: #2F80ED;
        }

        &:nth-child(7) {
          z-index: 6;
          animation: hex7 0.5s cubic-bezier(.88, .01, .31, 1.01);
          opacity: 0.5;
          background-color: #4F4F4F;
        }

        &:nth-child(8) {
          z-index: 5;
          animation: hex8 0.75s cubic-bezier(.88, .01, .31, 1.01);
          opacity: 0.5;
          background-color: #76D7F6;
        }

      }

    }

    .triangle-illustrations {
      display: flex;

      align-items: center;
      justify-content: center;

      width: 20vw;
      height: 20vw * 1.77;

      svg {
        path {
          animation: load 1s cubic-bezier(.88, .01, .31, 1.01);

          &:nth-child(3n+1) {
            animation: load-left 0.5s cubic-bezier(.88, .01, .31, 1.01);
          }

          &:nth-child(5) {
            transform-origin: bottom center;
          }

          &:nth-child(3n+3) {
            animation: load-right 0.5s cubic-bezier(.88, .01, .31, 1.01);
          }
        }
      }
    }

  }
}


@keyframes moveUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotate1 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(100%, 0);
  }
  50% {
    transform: translate(100%, -100%);
  }
  75% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes rotate2 {
  0% {
    transform: translate(0, 0);
    background-color: var(--secondary);
  }
  25% {
    transform: translate(0, -100%);
    background-color: var(--secondary);
  }
  50% {
    transform: translate(-100%, -100%);
    background-color: var(--light-background-1);
  }
  75% {
    transform: translate(-100%, 0);
    background-color: var(--light-background-1);
  }
  100% {
    transform: translate(0, 0);
    background-color: var(--secondary);
  }
}

@keyframes rotate3 {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-100%, 0);
  }
  50% {
    transform: translate(-100%, 100%);
  }
  75% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes rotate4 {
  0% {
    transform: translate(0, 0);
    background-color: var(--light-background-1);
  }
  25% {
    transform: translate(0, 100%);
    background-color: var(--light-background-1);
  }
  50% {
    transform: translate(100%, 100%);
    background-color: var(--secondary);
  }
  75% {
    transform: translate(100%, 0);
    background-color: var(--secondary);
  }
  100% {
    transform: translate(0, 0);
    background-color: var(--light-background-1);
  }
}

@keyframes hex2 {
  0% {
    transform: translate(calc(-100% - 0.25em));
  }
  100% {
    transform: translate(0);
  }
}

@keyframes hex3 {
  0% {
    transform: translate(calc(-200% - 0.5em));
  }
  50% {
    transform: translate(calc(-100% - 0.25em));
  }
  100% {
    transform: translate(0);
  }
}

@keyframes hex4 {
  0% {
    transform: translate(0, calc(-100% - 0.25em));
  }
  100% {
    transform: translate(0);
  }
}

@keyframes hex5 {
  0% {
    transform: translate(calc(-100% - 0.25em), calc(-100% - 0.25em));
  }
  25% {
    transform: translate(calc(-100% - 0.25em), 0);
  }
  50% {
    transform: translate(calc(-100% - 0.25em), calc(100% + 0.25em));
  }
  75% {
    transform: translate(0, calc(100% + 0.25em));
  }
  100% {
    transform: translate(0);
  }
}

@keyframes hex6 {
  0% {
    transform: translate(calc(-200% - 0.5em), calc(-100% - 0.25em));
  }
  33.33% {
    transform: translate(calc(-100% - 0.25em), calc(-100% - 0.25em));
  }
  66.66% {
    transform: translate(0, calc(-100% - 0.25em));
  }
  100% {
    transform: translate(0);
  }
}

@keyframes hex7 {
  0% {
    transform: translate(0, calc(-200% - 0.5em));
  }
  50% {
    transform: translate(0, calc(-100% - 0.25em));
  }
  100% {
    transform: translate(0);
  }
}

@keyframes hex8 {
  0% {
    transform: translate(calc(-100% - 0.25em), calc(-200% - 0.5em));
  }
  33.33% {
    transform: translate(calc(-100% - 0.25em), calc(-100% - 0.25em));
  }
  66.66% {
    transform: translate(calc(-100% - 0.25em), 0);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes load-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes load-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes flipUp {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(180deg);
  }
}

.action-button {
  font-size: 1.5em;

  font-weight: 700;
  padding: 0.5em 2em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  color: black;
  border: none;

  border-radius: 0.5em;
  background: transparent;

  * {
    background: transparent;
  }


  &:hover {
    box-shadow: 8px 8px 8px rgba(darkgrey, 0.2);
  }

  &.action-primary {
    background: var(--primary) !important;
  }

  &.action-secondary {
    background: var(--light-background-1) !important;
  }

  &.action-warning {
    background: orange;
  }

  &.action-mail {
    background: rgb(155, 81, 224);
    color: var(--light-background-1)
  }

  &.action-small {
    font-size: 1em;
    font-weight: 700;
    padding: 0.25em 1em;
    text-transform: uppercase;
  }

}

strong {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.p-angular {
  color: #EB5757;
}

.p-ionic {
  color: #367CF7;
}

.p-react {
  color: #48CEF7;
}

.p-firebase {
  color: #DD4B25;
}

.p-javas {
  color: #EB5757;
}

.p-html {
  color: #DD4B25;
}

.p-css {
  color: #156EAD;
}

.p-python {
  color: #356E9F;
}

.p-mysql {
  color: #A7AFAF;
}

.p-video {
  color: #96B5F1;
}

.p-audio {
  color: #F72F91;
}

.p-redux {
  color: #7248B6;
}

.angular {
  color: black;
  background-color: #EB5757;
}

.ionic {
  background-color: #367CF7;
}

.react {
  background-color: #48CEF7;
}

.firebase {
  background-color: #F2C94C;
}

.javas {
  background-color: #EDD718;
}

.html {
  color: black;
  background-color: #F2994A;
}

.css {
  color: white;
  background-color: #156EAD;
}

.python {
  background-color: #356E9F;
}

.mysql {
  background-color: #A7AFAF;
}

.video {
  background-color: #96B5F1;
}

.audio {
  background-color: #F72F91;
}

.redux {
  background-color: #BB6BD9;
}

.ros {
  color: white;
  background-color: black;
}

.api {
  background-color: lightgray;
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 20vh;

  background-color: var(--light-background-1);

  a {
    background: transparent;
  }

  h1 {
    font-size: 2em;
    font-weight: 800;
    z-index: 2;

    margin-left: 15%;
    cursor: pointer;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    background: linear-gradient(to left, var(--secondary), var(--heading));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  span.circle {
    position: absolute;

    z-index: 1;
    top: 10%;

    left: 10%;
    width: 15vh;

    height: 15vh;

    border-radius: 50%;

    background: rgba(#76D7F6, 0.4);

    backdrop-filter: blur(10px);
  }

}

@media only screen and (max-width: 1400px) {

  .hero-area {
    .hero-left {
      .content-area {
        width: fit-content !important;

        p {
          font-size: 0.9em !important;
        }

        h1 {
          font-size: 3em !important;
          line-height: 1em;
        }

        h4 {
          font-size: 1em !important;
        }

        li {
          font-size: 1em !important;
        }

        .text-content {
          max-width: 360px;
        }

        button {
          font-size: 1.2em;
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .hero-area {
    .hero-left {
      width: 100%;
    }

    .hero-right {
      display: none;
    }
  }

  .footer {
    .link {
      p {
        display: none;
      }
    }
  }
}
