
.content-area {
  position: relative;
  display: flex;

  flex-flow: column;

  margin-left: 15%;

  h1 {
    font-size: 3em;
  }

  h4 {
    font-weight: 700;

    a {
      text-decoration: none;
      color: black;
    }
  }

  form {
    width: 500px;

    mat-form-field {
      font-weight: bolder;
      width: 100%;
      color: black;

      mat-label {
        color: black;
      }
    }

    button {
      svg {
        transition: all 0.3s ease-in-out;
        transform-origin: center center;
      }

      &:hover {
        svg {
          transform: translateX(10px);
        }
      }

    }
  }
}


