
.content-area {
  display: flex;
  position: relative;

  flex-flow: column;

  margin-left: 15%;

  h1 {
    font-size: 3em;
  }

  h4 {
    font-weight: 700;
    a{
      text-decoration: none;
      color: black;
    }
  }

  form {
    width: 500px;

    mat-form-field {
      width: 100%;
      color: black;
      font-weight: bolder;

      mat-label {
        color: black;
      }
    }

    button {
      svg {
        transform-origin: center center;
        transition: all 0.3s ease-in-out;
      }

      &:hover {
        svg {
          transform: translateX(10px);
        }
      }

    }
  }
}


