section {
  display: flex;
  position: relative;

  width: 100%;
  height: 93vh;
}

.hero-left {
  width: 70%;
  background-color: var(--secondary);
}

.illustration-area {
  position: absolute;
  display: grid;

  grid-template-rows: repeat(3, 174px);
  grid-template-columns: repeat(3, 174px);

  top: 50%;
  left: 70%;

  transform: translate(-50%, -50%) rotate(225deg);

  width: 174px * 3;
  height: 174px * 3;

  gap: 0.25em;

}

.hexagon {
  width: 100%;
  height: 100%;

  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);

  transition: all 0.1s cubic-bezier(.88, .01, .31, 1.01);

  &:nth-child(1) {
    background-color: #4F4F4F;
    z-index: 8;
  }

  &:nth-child(2) {
    background-color: white;
    animation: hex2 0.25s cubic-bezier(.88, .01, .31, 1.01);
    z-index: 7;
  }

  &:nth-child(3) {
    background-color: rgba(white, 0.5);
    animation: hex3 0.5s cubic-bezier(.88, .01, .31, 1.01);
    z-index: 6;
  }

  &:nth-child(4) {
    background-color: #76D7F6;
    animation: hex4 0.25s cubic-bezier(.88, .01, .31, 1.01);
    z-index: 5;
  }

  &:nth-child(5) {
    background-color: #2F80ED;
    animation: hex5 1s cubic-bezier(.88, .01, .31, 1.01);
    z-index: 4;
  }

  &:nth-child(6) {
    background-color: #2F80ED;
    opacity: 0.5;
    animation: hex6 0.75s cubic-bezier(.88, .01, .31, 1.01);
    z-index: 5;
  }

  &:nth-child(7) {
    background-color: #4F4F4F;
    opacity: 0.5;
    animation: hex7 0.5s cubic-bezier(.88, .01, .31, 1.01);
    z-index: 6;
  }

  &:nth-child(8) {
    background-color: #76D7F6;
    opacity: 0.5;
    animation: hex8 0.75s cubic-bezier(.88, .01, .31, 1.01);
    z-index: 5;
  }
}

@keyframes hex2 {
  0% {
    transform: translate(calc(-100% - 0.25em));
  }
  100% {
    transform: translate(0);
  }
}

@keyframes hex3 {
  0% {
    transform: translate(calc(-200% - 0.5em));
  }
  50% {
    transform: translate(calc(-100% - 0.25em));
  }
  100% {
    transform: translate(0);
  }
}

@keyframes hex4 {
  0% {
    transform: translate(0, calc(-100% - 0.25em));
  }
  100% {
    transform: translate(0);
  }
}

@keyframes hex5 {
  0% {
    transform: translate(calc(-100% - 0.25em), calc(-100% - 0.25em));
  }
  25% {
    transform: translate(calc(-100% - 0.25em),0);
  }
  50% {
    transform: translate(calc(-100% - 0.25em), calc(100% + 0.25em));
  }
  75% {
    transform: translate(0, calc(100% + 0.25em));
  }
  100% {
    transform: translate(0);
  }
}

@keyframes hex6 {
  0% {
    transform: translate(calc(-200% - 0.5em), calc(-100% - 0.25em));
  }
  33.33%{
    transform: translate(calc(-100% - 0.25em), calc(-100% - 0.25em));
  }
  66.66%{
    transform: translate(0, calc(-100% - 0.25em));
  }
  100% {
    transform: translate(0);
  }
}

@keyframes hex7 {
  0% {
    transform: translate(0, calc(-200% - 0.5em));
  }
  50% {
    transform: translate(0, calc(-100% - 0.25em));
  }
  100% {
    transform: translate(0);
  }
}

@keyframes hex8 {
  0% {
    transform: translate(calc(-100% - 0.25em), calc(-200% - 0.5em));
  }
  33.33%{
    transform: translate(calc(-100% - 0.25em),  calc(-100% - 0.25em));
  }
  66.66% {
    transform: translate(calc(-100% - 0.25em), 0);
  }
  100% {
    transform: translate(0);
  }
}
