<div class = 'hero-section'>
  <div class = 'hero-section-left'>
    <h1>Beautifully Crafted Web Experiences!</h1>
    <h3>Explore the world of Karmit Patel...</h3>
  </div>
  <div class = 'hero-section-right'>
  </div>
  <div class = 'illustration-area'>
    <div class = 'comp square'></div>
    <div class = 'comp square'></div>
    <div class = 'comp square'></div>
    <div class = 'comp square'></div>
    <div class = 'comp square'></div>
    <div class = 'comp square'></div>
    <div class = 'comp circle'></div>
    <div class = 'comp circle'></div>
  </div>
</div>
