<section>
  <div class = 'hero-area'>
    <div class = 'hero-left'>
      <div class = 'content-area' style = 'max-width: 500px'>
        <h1>Hi! I am Karmit <br>& I craft <br> beautiful web</h1>
        <button class = 'action-button action-secondary' (click) = 'scrollDown()'>Explore my world</button>
      </div>
    </div>
    <div class = 'hero-right'>
      <div class = 'illustration-area'>
        <div class = 'square-illustrations'>
          <div class = 'comp square'></div>
          <div class = 'comp square'></div>
          <div class = 'comp square'></div>
          <div class = 'comp square'></div>
          <div class = 'comp square'></div>
          <div class = 'comp square'></div>
          <div class = 'comp circle'></div>
          <div class = 'comp circle'></div>
        </div>
      </div></div>
  </div>
</section>
