<div class = 'hero-section'>
  <div class = 'hero-section-left'>
    <h1>I'm Karmit <br>& I craft beautiful web!</h1>
    <button (click) = 'scrollDown()' class = 'action-button action-secondary'>Explore my World</button>
  </div>
  <div class = 'hero-section-right'>
  </div>
  <div class = 'illustration-area'>
    <div class = 'comp square'></div>
    <div class = 'comp square'></div>
    <div class = 'comp square'></div>
    <div class = 'comp square'></div>
    <div class = 'comp square'></div>
    <div class = 'comp square'></div>
    <div class = 'comp circle'></div>
    <div class = 'comp circle'></div>
  </div>
</div>
