
.hero-section {
  position: relative;
  display: flex;

  width: available;
  height: 93vh;

  background-color: var(--primary);

  .hero-section-left {
    display: flex;

    flex-direction: column;
    width: 70%;
    height: 100%;
    background-color: var(--primary);
    align-items: flex-start;
    justify-content: center;

    h1 {
      font-size: 64px;
      width: 500px;
      word-wrap: normal;
      margin-left: 20%;
      animation: load 1s cubic-bezier(.88, .01, .31, 1.01);
    }

    h3 {
      margin: 2% 20%;
      color: var(--subtitle);
      animation: load 1.5s cubic-bezier(.88, .01, .31, 1.01);
    }

  }

  .hero-section-right {
    width: 30%;
    height: 100%;
    background-color: var(--contrast-font);
  }

  .illustration-area {
    position: absolute;
    display: grid;

    top: 50%;
    left: 70%;

    transform: translate(-50%, -50%);

    width: 174px * 4;
    height: 174px * 4;

    grid-template-rows: repeat(4, 174px);
    grid-template-columns: repeat(4, 174px);

    .comp {
      width: 100%;
      height: 100%;
      //border: 1px solid black;

      transition: 0.5s cubic-bezier(.88, .01, .31, 1.01);
    }

    .square {
      border-radius: 20px;

      &:nth-child(1) {
        background-color: rgba(white, 0.5);
        grid-area: 3/1/span 1/span 1;
      }

      &:nth-child(2) {
        background-color: rgba(white, 1);
        grid-area: 2/2/span 1/span 1;
        animation: moveDown 2s cubic-bezier(.88, .01, .31, 1.01), rotate4 8s cubic-bezier(.88, .01, .31, 1.01) 2s infinite;
      }

      &:nth-child(3) {
        background-color: rgba(white, 1);
        grid-area: 4/2/span 1/span 1;
        animation: moveDown 2s cubic-bezier(.88, .01, .31, 1.01);
      }

      &:nth-child(4) {
        background-color: rgba(#76D7F6, 1);
        grid-area: 1/3/span 1/span 1;
        animation: moveUp 2s cubic-bezier(.88, .01, .31, 1.01);
      }

      &:nth-child(5) {
        background-color: rgba(#76D7F6, 1);
        grid-area: 3/3/span 1/span 1;
        animation: moveUp 2s cubic-bezier(.88, .01, .31, 1.01), rotate2 8s cubic-bezier(.88, .01, .31, 1.01) 2s infinite;
      }

      &:nth-child(6) {
        background-color: rgba(#76D7F6, 0.5);
        grid-area: 2/4/span 1/span 1;
      }
    }

    .circle {
      border-radius: 50%;

      &:nth-child(7) {
        background-color: var(--subtitle);
        grid-area: 3/2/span 1/span 1;
        animation: moveDown 2s cubic-bezier(.88, .01, .31, 1.01), rotate1 8s cubic-bezier(.88, .01, .31, 1.01) 2s infinite;
      }

      &:nth-child(8) {
        background-color: var(--heading);
        grid-area: 2/3/span 1/span 1;
        animation: moveUp 2s cubic-bezier(.88, .01, .31, 1.01), rotate3 8s cubic-bezier(.88, .01, .31, 1.01) 2s infinite;
      }
    }

    @keyframes moveUp {
      0% {
        transform: translateY(100%);
      }
      100% {
        transform: translateY(0);
      }
    }
    @keyframes moveDown {
      0% {
        transform: translateY(-100%);
      }
      100% {
        transform: translateY(0);
      }
    }

    @keyframes rotate1 {
      0% {
        transform: translate(0, 0);
      }
      25% {
        transform: translate(100%, 0);
      }
      50% {
        transform: translate(100%, -100%);
      }
      75% {
        transform: translate(0, -100%);
      }
      100% {
        transform: translate(0, 0);
      }
    }
    @keyframes rotate2 {
      0% {
        transform: translate(0, 0);
        background-color: var(--secondary);
      }
      25% {
        transform: translate(0, -100%);
        background-color: var(--secondary);
      }
      50% {
        transform: translate(-100%, -100%);
        background-color: var(--contrast-font);
      }
      75% {
        transform: translate(-100%, 0);
        background-color: var(--contrast-font);
      }
      100% {
        transform: translate(0, 0);
        background-color: var(--secondary);
      }
    }
    @keyframes rotate3 {
      0% {
        transform: translate(0, 0);
      }
      25% {
        transform: translate(-100%, 0);
      }
      50% {
        transform: translate(-100%, 100%);
      }
      75% {
        transform: translate(0, 100%);
      }
      100% {
        transform: translate(0, 0);
      }
    }
    @keyframes rotate4 {
      0% {
        transform: translate(0, 0);
        background-color: var(--contrast-font);
      }
      25% {
        transform: translate(0, 100%);
        background-color: var(--contrast-font);
      }
      50% {
        transform: translate(100%, 100%);
        background-color: var(--secondary);
      }
      75% {
        transform: translate(100%, 0);
        background-color: var(--secondary);
      }
      100% {
        transform: translate(0, 0);
        background-color: var(--contrast-font);
      }
    }
  }
}
