<section class='hero-area'>
  <div class='hero-left'>
    <div class='content-area'>
      <p class='date'>July, 2021 - Current</p>
      <app-line-svg></app-line-svg>
      <div class='text-content'>
        <h1>Consultant, Digital</h1>
        <h4>MNP Digital</h4>
        <p>
          As a Frontend Developer at MNP Digital, I specialize in working along with my peers to design and develop
          frontend solutions to e-commerce applications and websites.

          MNP is a national, full-service business advisory firm, and one of the largest of its kind in Canada. The MNP
          Technology Solutions team applies a collaborative, modern, and measured approach to technology, with a focus
          on empowering clients to thrive in a digital economy. Our services include technology advisory, digital
          platforms, and experiences, applied data and AI, intelligent applications, cyber security and privacy, and
          managed IT.
        </p>
      </div>
    </div>
    <div class='content-area'>
      <p class='date'>Apr, 2021 - July, 2021</p>
      <app-line-svg></app-line-svg>
      <div class='text-content'>
        <h1>Frontend Developer</h1>
        <h4>Chirp Media</h4>
        <ul>
          <li>
            Implemented Resource Management System from scratch using Javascript, Vue.js and Parse Server.
          </li>
          <li>
            Optimized previous systems in Vue. that decreased loading times significantly.
          </li>
          <li>
            Implemented additional features while applying the DRY principle to increase modularity and expandability.
          </li>
          <li>
            Adapted system to handle multi-client views using the same components.
          </li>
        </ul>
      </div>
    </div>
    <div class='content-area'>
      <p class='date'>Dec, 2019 - Apr, 2021</p>
      <app-line-svg></app-line-svg>
      <div class='text-content'>
        <h1>Frontend Developer</h1>
        <h4>Y.K. Infotech</h4>
        <ul>


          <li>
            Applied object-oriented principles to design and develop cross-platform, scalable applications using
            Javascript, Typescript, Angular, and Ionic.
          </li>
          <li>
            Created custom user interface and GUI elements using Figma, HTML, and CSS to improve user experience and
            usability.
          </li>
          <li>
            Implemented user authentication modules that improved reliability and data security.
          </li>
          <li>
            Performed debugging and refactoring to generate reusable code.
          </li>
          <li>
            Analyzed and performed unit testing to ensure bug-free application deployment.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class='hero-right'>
    <app-illustrations illustration='triangle'></app-illustrations>
  </div>
</section>
