<section class='hero-area'>
  <div class='hero-left'>
    <div class='content-area'>
      <p class='date'>Apr, 2021 - July, 2021</p>
      <svg fill='none' height='358' viewBox='0 0 13 358' width='13' xmlns='http://www.w3.org/2000/svg'>
        <line
          stroke='black' stroke-linecap='round' stroke-width='3' x1='6.5' x2='6.49999' y1='7.5'
          y2='292.5'
        />
        <circle cx='6.5' cy='6.5' fill='black' r='6' stroke='black' stroke-linecap='round'/>
        <circle cx='6.5' cy='303.5' fill='black' r='2.5'/>
        <circle cx='6.5' cy='316.5' fill='black' r='2.5'/>
        <circle cx='6.5' cy='329.5' fill='black' r='2.5'/>
        <circle cx='6.5' cy='342.5' fill='black' r='2.5'/>
        <circle cx='6.5' cy='355.5' fill='black' r='2.5'/>
      </svg>
      <div class='text-content'>
        <h1>Frontend Developer</h1>
        <h4>Chirp Media</h4>
        <ul>


          <li>
            Implemented Resource Management System from scratch using Javascript, Vue.js and Parse Server.
          </li>
          <li>
            Optimized previous systems in Vue. that decreased loading times significantly.
          </li>
          <li>
            Implemented additional features while applying the DRY principle to increase modularity and expandability.
          </li>
          <li>
            Adapted system to handle multi-client views using the same components.
          </li>
        </ul>
      </div>
    </div>
    <div class='content-area'>
      <p class='date'>Apr, 2021 - July, 2021</p>
      <svg fill='none' height='358' viewBox='0 0 13 358' width='13' xmlns='http://www.w3.org/2000/svg'>
        <line
          stroke='black' stroke-linecap='round' stroke-width='3' x1='6.5' x2='6.49999' y1='7.5'
          y2='292.5'
        />
        <circle cx='6.5' cy='6.5' fill='black' r='6' stroke='black' stroke-linecap='round'/>
        <circle cx='6.5' cy='303.5' fill='black' r='2.5'/>
        <circle cx='6.5' cy='316.5' fill='black' r='2.5'/>
        <circle cx='6.5' cy='329.5' fill='black' r='2.5'/>
        <circle cx='6.5' cy='342.5' fill='black' r='2.5'/>
        <circle cx='6.5' cy='355.5' fill='black' r='2.5'/>
      </svg>
      <div class='text-content'>
        <h1>Frontend Developer</h1>
        <h4>Chirp Media</h4>
        <ul>


          <li>
            Implemented Resource Management System from scratch using Javascript, Vue.js and Parse Server.
          </li>
          <li>
            Optimized previous systems in Vue. that decreased loading times significantly.
          </li>
          <li>
            Implemented additional features while applying the DRY principle to increase modularity and expandability.
          </li>
          <li>
            Adapted system to handle multi-client views using the same components.
          </li>
        </ul>
      </div>
    </div>
    <div class='content-area'>
      <p class='date'>Apr, 2021 - July, 2021</p>
      <svg fill='none' height='358' viewBox='0 0 13 358' width='13' xmlns='http://www.w3.org/2000/svg'>
        <line
          stroke='black' stroke-linecap='round' stroke-width='3' x1='6.5' x2='6.49999' y1='7.5'
          y2='292.5'
        />
        <circle cx='6.5' cy='6.5' fill='black' r='6' stroke='black' stroke-linecap='round'/>
        <circle cx='6.5' cy='303.5' fill='black' r='2.5'/>
        <circle cx='6.5' cy='316.5' fill='black' r='2.5'/>
        <circle cx='6.5' cy='329.5' fill='black' r='2.5'/>
        <circle cx='6.5' cy='342.5' fill='black' r='2.5'/>
        <circle cx='6.5' cy='355.5' fill='black' r='2.5'/>
      </svg>
      <div class='text-content'>
        <h1>Frontend Developer</h1>
        <h4>Chirp Media</h4>
        <ul>


          <li>
            Implemented Resource Management System from scratch using Javascript, Vue.js and Parse Server.
          </li>
          <li>
            Optimized previous systems in Vue. that decreased loading times significantly.
          </li>
          <li>
            Implemented additional features while applying the DRY principle to increase modularity and expandability.
          </li>
          <li>
            Adapted system to handle multi-client views using the same components.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class='hero-right'>
    <app-illustrations illustration='triangle'></app-illustrations>
  </div>
</section>
