<section>
  <div class = 'hero-left'>
    <div class = 'content-area'>
      <p class = 'date'>Dec, 2019 - Present</p>
      <svg width="13" height="358" viewBox="0 0 13 358" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="6.5" y1="7.5" x2="6.49999" y2="292.5" stroke="black" stroke-width="3" stroke-linecap="round"/>
        <circle cx="6.5" cy="6.5" r="6" fill="black" stroke="black" stroke-linecap="round"/>
        <circle cx="6.5" cy="303.5" r="2.5" fill="black"/>
        <circle cx="6.5" cy="316.5" r="2.5" fill="black"/>
        <circle cx="6.5" cy="329.5" r="2.5" fill="black"/>
        <circle cx="6.5" cy="342.5" r="2.5" fill="black"/>
        <circle cx="6.5" cy="355.5" r="2.5" fill="black"/>
      </svg>
      <div class = 'text-content'>
        <h1>Frontend Web Developer</h1>
        <h4>YK Infotech</h4>
        <ul>
          <li>
            Applied object-oriented principles to design and develop cross-platform, scalable applications using
            Javascript, Typescript, Angular, and Ionic.
          </li>
          <li>
            Created custom user interface and GUI elements using Figma, HTML, and CSS to improve user experience and
            usability.
            Implemented user authentication modules that improved reliability and data security.
          </li>
          <li>
            Performed debugging and refactoring to generate reusable code.
          </li>
          <li>
            Analyzed and performed unit testing to ensure bug-free application deployment.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class = 'hero-right'></div>
  <div class = 'illustration-area'>
    <svg width = '300' height = '525' viewBox = '0 0 300 525' fill = 'none' xmlns = 'http://www.w3.org/2000/svg'>
      <path d = 'M75 150L10.0481 37.5L139.952 37.5L75 150Z' fill = '#F2F2F2' fill-opacity = '0.5' number = '1'/>
      <path d = 'M150 40.625L214.952 153.125H85.0481L150 40.625Z' fill = '#2F80ED' number = '2'/>
      <path d = 'M225 150L289.952 262.5H160.048L225 150Z' fill = '#56CCF2' number = '3'/>
      <path d = 'M75 150L139.952 262.5H10.0481L75 150Z' fill = '#F2F2F2' number = '4'/>
      <path d = 'M150 265.625L85.0481 153.125H214.952L150 265.625Z' fill = '#2F80ED' fill-opacity = '0.5' number = '5'/>
      <path d = 'M225 150L160.048 37.5L289.952 37.5L225 150Z' fill = '#56CCF2' number = '6'/>
      <path d = 'M75 375L10.0481 262.5H139.952L75 375Z' fill = '#333333' number = '7'/>
      <path d = 'M150 265.625L214.952 378.125H85.0481L150 265.625Z' fill = '#F2F2F2' number = '8'/>
      <path d = 'M225 375L160.048 262.5H289.952L225 375Z' fill = '#56CCF2' fill-opacity = '0.5' number = '9'/>
      <path d = 'M75 375L139.952 487.5H10.0481L75 375Z' fill = '#F2F2F2' number = '10'/>
      <path d = 'M150 490.625L85.0481 378.125H214.952L150 490.625Z' fill = '#2F80ED' number = '11'/>
      <path d = 'M225 375L289.952 487.5H160.048L225 375Z' fill = '#56CCF2' number = '12'/>
    </svg>
  </div>
</section>
