$link-color: rgba(255, 255, 255, 0.65);
$link-activated-color: rgba(255, 255, 255, 1);
$link-activated-bg: rgba(255, 255, 255, 0.1);

.footer {
  width: 100%;
  min-height: 10vh;
  height: fit-content;
  background-color: black;
  display: grid;
  place-items: center;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $link-color;
    background: transparent;
    transition: all 0.3s ease-in-out;
    gap: 1em;
    padding: 0.5em 1em;
    border-radius: 0.5em;

    svg {
      path {
        transition: all 0.3s ease-in-out;
        fill: $link-color;
      }
    }

    &:hover {
      color: $link-activated-color;
      background-color: $link-activated-bg;

      svg {
        path {
          fill: $link-activated-color;
        }
      }
    }
  }
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .links {
    padding: 1em;
    width: 100%;
  }
}


@media screen and (max-width: 767px) {
  .links {
    flex-flow: column nowrap;
    gap: 1em;

    .link {
      width: 100%;
      text-align: center;
    }
  }
}
