nav {
  display: grid;
  width: 100%;
  height: 7vh;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto;
  position: sticky;
  top: 0;
  z-index: 1001;
  background: var(--light-background-1);
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);

  .nav-link-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5% 0 15%;

    #logo {
      font-family: 'Audiowide', cursive;
      font-size: 2.5em;
      padding: 0 0.5em;
      cursor: pointer;
      color: white;
      border-radius: 5px;
      background: var(--primary);
    }

    .links {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;
      font-weight: 600;
      font-size: 1.2rem;

      .link {
        cursor: pointer;
        position: relative;
        overflow: hidden;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: -100%;
          width: 100%;
          height: 2px;
          background: var(--light-font-1);
          border-radius: 50px;
          transition: left 0.25s ease-in-out;
        }

        &:hover:after {
          left: 0;
        }

        @media screen and (max-width: 1300px) {
          width: 100%;
          height: 100%;
          background: var(--light-background-1);
          padding: 1rem;
          display: grid;
          place-items: center;
          transition: all 0.25s ease-in-out;
          font-size: 2rem;

          &:after {
            content: none;
          }

          &:hover {
            background-color: rgb(72, 206, 247);
            color: var(--light-background-1);
          }
        }
      }

      @media screen and (max-width: 1300px) {
        position: fixed;
        height: 93%;
        width: 100%;
        top: 7%;
        left: 100%;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-between;
        z-index: 1002;
        gap: 0;
        transition: all 0.25s ease-in-out;

        &.opened {
          left: 0;
        }
      }
    }
  }

  .nav-social-section {
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: flex-end;
    align-items: center;
    padding: 0 15% 0 0;

    .social-links {
      display: flex;
      height: 100%;
      width: fit-content;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;

      @media screen and (max-width: 1300px) {
        display: none;
      }

      a {
        display: grid;
        place-items: center;

        svg{
          fill-opacity: 0.9;
          transition: all 0.25s ease-in-out;

          &:hover{
            fill-opacity: 1;
          }
        }

      }
    }

    .menu-icon {
      display: none;
      @media screen and (max-width: 1300px) {
        display: block;
        z-index: 1002;
        transform: scale(1.25);
      }
    }
  }
}
