
nav {
  display: flex;

  width: 100%;
  height: 7vh;


}

.navbar {
  display: flex;

  height: 100%;

  justify-content: space-between;
  align-items: center;

}

.nav-section-1 {
  width: 70%;
  background-color: var(--light-background-1);

  #logo {
    font-family: 'Audiowide', cursive;

    font-size: 2.5em;

    padding: 0 0.5em;

    color: white;
    background: var(--light-subtitle);

    border-radius: 5px;

    object-fit: contain;
    cursor: pointer;

    margin-left: 15%;
  }

  .links {
    display: flex;

    width: 30%;

    justify-content: space-between;
    align-items: center;

    padding-right: 10%;

    .link {
      position: relative;
      overflow: hidden;

      cursor: pointer;
      user-select: none;

      a {
        color: black;
        text-decoration: none;
        font-size: 1.25em;
        font-weight: 600;
      }

      span.underline {
        position: absolute;

        bottom: 0;
        left: 0;

        background-color: black;
        width: 100%;
        height: 2px;

        transform: scaleX(0);

        border-radius: 10px;

        transition: all 0.3s cubic-bezier(.88, .01, .31, 1.01);

      }

      &:hover {
        span.underline {
          transform: scaleX(1);
        }
      }
    }
  }
}

.nav-section-2 {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 20%;

  padding: 0 0 0 10%;

  background-color: var(--light-background-1);

  a {
    cursor: pointer;

    &:nth-child(2) {
      margin: 0 2em;
    }
  }
}

.active {
  color: var(--heading);
}

@media only screen and (max-width: 1600px) {
  #logo {
    font-size: 1.5em !important;
  }
}

@media only screen and (max-width: 1300px) {
  .links {
    display: flex;
    position: fixed;

    flex-flow: column;

    width: 500px !important;
    height: 93vh;

    justify-content: space-evenly !important;
    align-items: center !important;

    padding: 0 !important;
    margin: 0;

    top: 7vh !important;
    right: -100%;

    background: rgba(white, 0.9);

    z-index: 10000;

    transition: all 0.3s cubic-bezier(.88, .01, .31, 1.01);


    &.opened {
      right: 0;
    }
  }
}
