
nav {
  display: flex;

  width: 100%;
  height: 7vh;


}

.navbar {
  display: flex;

  align-items: center;

  justify-content: space-between;
  height: 100%;

}

.nav-section-1 {
  width: 70%;
  background-color: var(--light-background-1);

  #logo {
    font-family: 'Audiowide', cursive;

    font-size: 2.5em;

    margin-left: 15%;

    padding: 0 0.5em;
    cursor: pointer;

    color: white;

    border-radius: 5px;
    background: var(--light-subtitle);

    object-fit: contain;
  }

  .links {
    display: flex;

    align-items: center;

    justify-content: space-between;
    width: 30%;

    padding-right: 10%;

    .link {
      position: relative;
      overflow: hidden;

      cursor: pointer;
      user-select: none;

      a {
        font-size: 1.25em;
        font-weight: 600;
        text-decoration: none;
        color: black;
      }

      span.underline {
        position: absolute;

        bottom: 0;
        left: 0;

        width: 100%;
        height: 2px;
        transition: all 0.3s cubic-bezier(.88, .01, .31, 1.01);

        transform: scaleX(0);

        border-radius: 10px;

        background-color: black;

      }

      &:hover {
        span.underline {
          transform: scaleX(1);
        }
      }
    }
  }
}

.nav-section-2 {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 20%;

  padding: 0 0 0 10%;

  background-color: var(--light-background-1);

  a {
    cursor: pointer;

    &:nth-child(2) {
      margin: 0 2em;
    }
  }
}

.active {
  color: var(--heading);
}

@media only screen and (max-width: 1600px) {
  #logo {
    font-size: 1.5em !important;
  }
}

@media only screen and (max-width: 1300px) {
  .links {
    position: fixed;
    z-index: 10000;

    top: 7vh !important;

    right: -100%;
    display: flex;

    align-items: center !important;
    flex-flow: column;

    justify-content: space-evenly !important;
    width: 100% !important;

    height: 93vh;
    margin: 0;

    padding: 0 !important;

    transition: all 0.3s cubic-bezier(.88, .01, .31, 1.01);

    background: rgba(#fff, 1);


    &.opened {
      right: 0;
    }
  }
}
