section {
  width: 100%;
  max-width: 100%;
  height: 100vh;
}

.context {
  position: relative;
  display: flex;

  align-items: center;

  flex-flow: row;
  justify-content: space-between;

  width: auto;
  height: 80vh;

  margin: 0 15% 0;


  &.inScene {
    .image-area {
      animation: load 0.5s cubic-bezier(.88, .01, .31, 1.01), scrollDown 0.5s cubic-bezier(.88, .01, .31, 1.01);
      opacity: 1;
    }

    .content-area {
      h1 {
        animation: load 0.5s cubic-bezier(.88, .01, .31, 1.01), scrollDown 0.5s cubic-bezier(.88, .01, .31, 1.01);
        opacity: 1;
      }

      h3 {
        animation: load 1s cubic-bezier(.88, .01, .31, 1.01), scrollDown 1s cubic-bezier(.88, .01, .31, 1.01);
        opacity: 1;
      }

      .skill-area {
        animation: load 1.5s cubic-bezier(.88, .01, .31, 1.01), scrollDown 1.5s cubic-bezier(.88, .01, .31, 1.01);
        opacity: 1;
      }
    }
  }

}

span.line {
  width: 3px;
  height: 90%;

  border-radius: 50px;
  background: var(--light-subtitle);
}

.image-area {
  overflow: hidden;
  width: fit-content;

  height: fit-content;

  opacity: 0;
  border-radius: 10px;


  img {
    width: 15vw;
    height: calc(15vw * 1.77);
    border-radius: 10px;
  }
}

.content-area {

  width: 50vw;
  word-wrap: normal;

  h1 {
    font-size: 2em;

    font-weight: bolder;
    display: flex;
    align-items: center;
    opacity: 0;

    .award-icon {
      display: flex;

      align-items: center;
      justify-content: center;

      width: fit-content;
      height: fit-content;

      padding: 10px;

      //box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 5px;

      object-fit: contain;

      mat-icon {
        background: transparent;
      }
    }
  }

  h3 {
    font-size: 1.2em;
    margin-top: 2em;
    opacity: 0;
    color: var(--light-subtitle);
  }

  .skill-area {
    display: flex;

    justify-content: space-evenly;

    width: 100%;
    margin-top: 3em;
    opacity: 0;


    .skill-title {
      font-family: 'Nunito', sans-serif;
      font-size: 1.5em;
      font-weight: bold;
    }

    .skill {
      font-size: 1em;
    }
  }
}


@media only screen and (max-width: 1400px) {
  .content-area {
    h1 {
      font-size: 2em;
    }

    h3 {
      font-size: 1em;
      margin-top: 1em;
    }

    .skill-area {

      margin-top: 1em;

      .skill-title {
        font-size: 1.2em;

      }

      .skill {
        font-size: 0.9em;
      }
    }

  }

}
