<section>
  <div class = 'banner'>
    <span class = 'circle'></span>
    <h1>About Me</h1>
  </div>
  <div [ngClass] = 'scenes[3] ? "inScene":"outScene"' class = 'context'>
    <div class = 'content-area'>
      <h1>
        My Name is Karmit Patel
        &nbsp;
        <a href = 'assets/Docs/Karmit%20Patel%20Resume.pdf' download class='award-icon'>
            <mat-icon inline>description</mat-icon>
        </a>
      </h1>
      <h3>
        I am a Frontend Web Developer who also likes to design UI for web and mobile applications. I work on designing
        eye pleasing minimalistic designs using geometric, isometric shapes and micro-animations. I aspire to become a
        full stack developer and develop high class web applications for the world to enjoy!
      </h3>
      <div class = 'skill-area'>
        <div class = 'category'>
          <div class = 'skill-title'>Good With</div>
          <p class = 'skill'>Angular</p>
          <p class = 'skill'>JavaScript</p>
          <p class = 'skill'>Ionic</p>
          <p class = 'skill'>HTML</p>
          <p class = 'skill'>CSS</p>
          <p class = 'skill'>Java</p>
          <p class = 'skill'>Python</p>
          <p class = 'skill'>Ionic</p>
          <p class = 'skill'>MySQL</p>
          <p class = 'skill'>C</p>
          <p class = 'skill'>Figma</p>
          <p class = 'skill'>Photoshop CC</p>
        </div>
        <div class = 'category'>
          <div class = 'skill-title'>Have Used</div>
          <p class = 'skill'>React</p>
          <p class = 'skill'>C++</p>
          <p class = 'skill'>Node.js</p>
          <p class = 'skill'>Express</p>
          <p class = 'skill'>Illustrator CC</p>
        </div>
        <div class = 'category'>
          <p class = 'skill-title'>Learning</p>
          <p class = 'skill'>Django</p>
          <p class = 'skill'>Adobe Xd</p>
        </div>
      </div>
    </div>
    <span class = 'line'></span>
    <div class = 'image-area'>
      <img alt = 'Profile Picture' height = '1152' src = 'assets/Images/Profile-Picture.jpeg' width = '648'>
    </div>
  </div>
</section>
