.awards-area {
  display: flex;

  flex-direction: column;

  width: 100%;
  height: fit-content;

}

.awards {
  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  padding: 5% 15%;

  height: fit-content;

  background: var(--primary);

}

.award {
  display: flex;
  position: relative;
  margin: 1%;

  padding: 10px;
  background: var(--light-background-1);

  width: fit-content;
  height: fit-content;

  justify-content: space-evenly;
  align-items: center;

  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  .award-icon {
    display: flex;

    justify-content: center;
    align-items: center;

    height: fit-content;
    width: fit-content;

    padding: 10px;

    //box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    object-fit: contain;
  }

  .award-title{
    font-weight: 700;
    font-size: 1.2em;
    padding: 0 1em;
    color: var(--light-subtitle);
  }

}
