@import "./src/app/styles/variables";

.awards-area {
  @include full-flex(column, nowrap, 100%, fit-content);
}

.awards-strip {
  display: grid;
  width: 100%;
  background: var(--primary);
  place-items: center;
}

.awards {
  position: relative;
  display: flex;

  align-items: center;

  flex-flow: row wrap;
  justify-content: space-evenly;

  width: 80%;

  height: fit-content;
  padding: 5% 0;

  background: transparent;

  gap: 1em;

  @media only screen and (max-width: 930px) {
    flex-flow: column wrap;
    width: 100%;
  }
}

.award {
  position: relative;
  display: flex;

  align-items: center;
  justify-content: space-evenly;

  width: fit-content;
  min-width: 300px;

  height: fit-content;
  padding: 10px;

  border-radius: 10px;
  background: var(--light-background-1);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  @include cubic-transition(all, 0.2s);

  &:hover {
    box-shadow: 0 16px 48px rgba(0, 0, 0, 0.05);
  }

  .award-icon {
    display: flex;

    align-items: center;
    justify-content: center;

    width: fit-content;
    height: fit-content;

    padding: 10px;

    //box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    object-fit: contain;
  }

  .award-title {
    font-size: 1.2em;
    font-weight: 700;
    padding: 0 1em;
    color: var(--light-subtitle);
  }

}
