<div class = 'project-1' [class.scene]='scenes[1]'>
  <div class='content-area'>
    <h1>Smart Shoppers Inc.</h1>
    <h3>Shop for a wide variety of products at multiple
        locations of our Smart Shoppers online stores.
        Website powered by <strong class='angular'>Angular</strong> and <strong class='firebase'>Firebase</strong></h3>
    <button class='action-button action-primary'>Find out more</button>
  </div>
  <img src = 'assets/Images/store_login_cut.png' alt = 'Image Store' width='900' height='581.66'>
</div>
