<section>
  <div class = 'banner'>
    <span class = 'circle'></span>
    <h1>Github Portfolio</h1>
  </div>
  <div class='project-area'>
    <app-project-card></app-project-card>
    <app-project-card></app-project-card>
    <app-project-card></app-project-card>
    <app-project-card></app-project-card>
    <app-project-card></app-project-card>
    <app-project-card></app-project-card>
    <app-project-card></app-project-card>
    <app-project-card></app-project-card>
    <app-project-card></app-project-card>
  </div>
</section>
