

@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rightLoad {
  0% {
    transform: translateY(-50%) translateX(100%);
  }
  100% {
    transform: translateY(-50%) translateX(0);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(-1em);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scrollUp {
  0% {
    transform: translateY(1em);
  }
  100% {
    transform: translateY(0);
  }
}
