<body>
  <nav>
    <div class = 'navbar nav-section-1'>
      <div id = 'logo'>Karmit Patel</div>
      <div class = 'links'>
        <div class = 'link'><a href = '#'>My Work</a></div>
        <div class = 'link'><a href = '#'>Skills</a></div>
        <div class = 'link'><a href = '#'>Contact</a></div>
      </div>
    </div>
    <div class = 'navbar nav-section-2'>
      <img src = 'assets/Images/akar-icons_github-fill.png' alt = 'Github Logo'>
      <img src = 'assets/Images/akar-icons_linkedin-fill.png' alt = 'LinkedIn Logo'>
      <img src = 'assets/Images/topcoat_dribble.png' alt = 'Dribble Logo'>
    </div>
  </nav>

  <article>
    <section>
      <div class = 'hero-section'>
        <div class = 'hero-section-left'>
          <h1>Beautifully Crafted Web Experiences!</h1>
          <h3>Explore the world of Karmit Patel...</h3>
        </div>
        <div class = 'hero-section-right'>
        </div>
        <div class = 'illustration-area'>
          <div class = 'comp square'></div>
          <div class = 'comp square'></div>
          <div class = 'comp square'></div>
          <div class = 'comp square'></div>
          <div class = 'comp square'></div>
          <div class = 'comp square'></div>
          <div class = 'comp circle'></div>
          <div class = 'comp circle'></div>
        </div>
      </div>
    </section>
  <app-projects [scenes]='scenes'></app-projects>
  </article>
  <footer>
    <app-footer></app-footer>
  </footer>
  <app-fab></app-fab>
</body>
