<div class = 'content-area'>
  <p class = 'date'>{{ getDateFormatted(job.startDate) }} - {{ job.endDate ? getDateFormatted(job.endDate) : 'Current' }}</p>
  <app-line-svg></app-line-svg>
  <div class = 'text-content'>
    <h1 class = 'title'>{{ job.position}}</h1>
    <h4>{{ job.companyName }}</h4>
    <p *ngIf = 'job.description?.length'>
      {{job.description}}
    </p>
    <ul *ngIf = 'job.responsibilities[0]'>
      <li *ngFor = 'let duty of getAllResp()'>{{duty}}</li>
    </ul>
  </div>
</div>
