<div class = 'card'>
  <div [class.activated] = 'this.activated' class = 'card-image'>
    <img [alt] = 'data?.altText' [src] = 'data?.imageURL'>
    <div (click) = 'deactivateIn()' class = 'card-action'>
      <div class = 'actions'>
        <div class = 'action-button action-warning action-small'><a [href] = 'data?.githubLink'>Source</a></div>
        <div *ngIf = 'data?.liveLink' class = 'action-button action-secondary action-small'><a
          [href] = 'data?.liveLink'
        >Live</a>
        </div>
      </div>
    </div>
  </div>
  <div class = 'card-title'>
    {{data?.title}}
  </div>
  <div class = 'card-tags'>
    <div class = 'card-tag-title'>
      Tags
    </div>
    <div class = 'tags'>
      <span *ngIf = 'data?.liveLink' class = 'tag live'>Live</span>
      <span *ngFor = 'let tag of data?.tags' [ngClass] = '[tag?.class]' class = 'tag'>{{tag.name}}</span>
    </div>
  </div>
</div>
