<div class = 'project-2' [class.scene] = 'scenes[2]'>
  <img src = '../../../../../assets/Images/chat_app.png' alt = 'Chat App'>
  <div class = 'content-area'>
    <h1>Long Talks</h1>
    <h3>Realtime chat applicaiton developed using
        <strong class='angular'>Angular</strong>, <strong class='html'>HTML</strong>, <strong class='css'>CSS</strong>, <strong class='javas'>JavaScript</strong>,
        <strong class='firebase'>Firebase</strong> Authentication, Firestore,Hosting.</h3>
    <button class = 'action-button action-secondary'>Find out more</button>
  </div>
</div>
