<div [class.scene] = 'scenes[2]' class = 'project-2'>
  <img alt = 'Chat App' src = '../../../../../assets/Images/chat_app.png'>
  <div class = 'content-area'>
    <h1>Long Talks</h1>
    <h3>Realtime chat applicaiton developed using
      <strong class = 'p-angular'>Angular</strong>, <strong class = 'p-html'>HTML</strong>, <strong
        class = 'p-css'>CSS</strong>, <strong class = 'p-javas'>JavaScript</strong>,
      <strong class = 'p-firebase'>Firebase</strong> Authentication, Firestore,Hosting.</h3>
    <a href = 'https://github.com/KarmitP98/ChatApp'>
      <button class = 'action-button action-secondary'>Find out more</button>
    </a>
  </div>
</div>
