<div [class.scene] = 'scenes[1]' class = 'project-1'>
  <div class = 'content-area'>
    <h1>Smart Shoppers Inc.</h1>
    <h3>Shop for a wide variety of products at multiple
        locations of our Smart Shoppers online stores.
        Website powered by <strong class = 'p-angular'>Angular</strong> and <strong
        class = 'p-firebase'>Firebase</strong>
    </h3>
    <a href = 'https://github.com/KarmitP98/Smart-Shoppers'>
      <button class = 'action-button action-primary'>Find out more</button>
    </a>
  </div>
  <img alt = 'Image Store' height = '581.66' src = '../../../../../assets/Images/store_login_cut.png' width = '900'>
</div>
