/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #56CCF2;
  --secondary: #76D7F6;
  --title: #000000;
  --subtitle: #4F4F4F;
  --contrast-font: #FFFFFF;
  --heading: #2F80ED;
}

* {
  font-family: 'Nunito', sans-serif;
  padding: 0;
  margin: 0;
}

.action-button {
  padding: 0.5em 2em;

  color: black;
  font-size: 1.5em;
  border-radius: 50px;
  font-weight: 700;

  border: none;
  background: transparent;

  cursor: pointer;
  transition: all 0.3s cubic-bezier(.88,.01,.38,.99);

  &:hover{
    transform: scale(1.05);
  }

  &.action-primary {
    background: var(--primary);
  }

  &.action-secondary {
    background: var(--contrast-font);
  }

}

strong {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

strong.angular {
  color: crimson;
  font-weight: bold;
}

strong.firebase {
  color: darkorange;
  font-weight: bold;
}

strong.javas {
  color: var(--title);
  font-weight: bold;
}

strong.html {
  color: darkslategrey;
  font-weight: bold;
}

strong.css {
  color: purple;
  font-weight: bold;
}


.banner {
  display: flex;
  position: relative;
  width: 100%;
  height: 20vh;

  justify-content: flex-start;
  align-items: center;


  h1 {
    text-transform: uppercase;
    //color: #2F80ED;
    letter-spacing: 0.3em;

    margin-left: 15%;
    cursor: pointer;
    font-weight: 800;
    background: linear-gradient(to left, var(--secondary), var(--heading));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  span.circle {
    position: absolute;

    width: 150px;
    height: 150px;

    left: 10%;
    top: 10%;

    background: rgba(#76D7F6, 0.4);

    border-radius: 50%;

    backdrop-filter: blur(10px);

    z-index: -1;
  }

}
